
/* make navigation toggle button meet contrast (turn off transparency) */
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.navbar-dark .navbar-toggler:focus {
  outline-offset: -4px;
  outline-style: solid;
}

.navbar-dark .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* more visibly distinct skip links */
a.sr-only.sr-only-focusable:focus {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 8px;
  background: $accent;
  padding: 8px;
  border: solid 2px currentColor;
  font-weight: bold;
}