// Most btn classes come from Bootstrap
// See node_modules/bootstrap/scss/_buttons.scss
.btn-extra-lg {
    padding: 1.25rem 2.5rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
